.endgame{
    padding-top: 15%;
    
}

.endgame h1{
    font-family: 'Aboreto', cursive;
    color: #4FE3DF;;
}

.endgame h2{
    font-family: 'Titillium Web', sans-serif;
    color:#EBCB17;
}

.endgame h2 span{
    color: #4FE3DF;;
}